<h1>
    <span *ngIf="pageMode == pageModeEnum.Create">Add Hotel</span>
    <span *ngIf="pageMode == pageModeEnum.Edit">
      <span>Edit Hotel </span>
      <span class="text-primary">{{ hotel.name }}</span>
    </span>
  </h1>
<hr>
  
<form [formGroup]="hotelForm" (ngSubmit)="submitForm()">
    
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
            <mat-error>Name is required</mat-error>
            <mat-error *ngIf="hotelNameExists">{{hotelNameExistsMessage}}</mat-error>
          </mat-form-field>
        </div>
  
        <div class="">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" required>
            <mat-error>Address is required</mat-error>
          </mat-form-field>
        </div>
  
        <div class="">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Rating</mat-label>
            <input matInput formControlName="rating" required>
            <mat-error>Rating is required</mat-error>
          </mat-form-field>
        </div>

     <div class="col-md-6">


        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Rooms</mat-label>
            <mat-select formControlName="roomIds" multiple>
              <mat-option *ngFor="let room of roomsLookup" [value]="room.value">{{room.text}}</mat-option>
            </mat-select>
          </mat-form-field>

      </div>

    </div>
  
    <div>
      <button class="me-2" [routerLink]="['/hotels']" mat-stroked-button color="basic">Cancel</button>
      <button mat-flat-button color="primary" type="submit">
        <span *ngIf="pageMode == pageModeEnum.Create">Create</span>
        <span *ngIf="pageMode == pageModeEnum.Edit">Save</span>
      </button>
    </div>
  
  </div>
</form>
